<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Challenges</title>

    <link rel="stylesheet" href="style.css">

</head>


<body onload="startChallenges()">



<div id="messageBox">
    Please login first
</div>



<nav>

    <ul>

        <li>
            <a href="index.html">🏠 Home</a>
        </li>


        <li>
            <a href="register.html">👨‍🌾 Register</a>
        </li>


        <li>
            <a href="login.html">🔐 Login</a>
        </li>


        <li>
            <a href="dashboard.html">📊 Dashboard</a>
        </li>


        <li>
            <a href="challenges.html">🌱 Challenges</a>
        </li>


        <li>
            <a href="rewards.html">🏆 Rewards</a>
        </li>


    </ul>

</nav>




<h1>🌿 Sustainable Farming Challenges</h1>



<div class="card">

    <h2>🌱 Plant 5 Trees</h2>

    <p>Reward: +50 Points</p>

    <button onclick="completeChallenge(50)">
        Complete
    </button>

</div>




<div class="card">

    <h2>💧 Save Water</h2>

    <p>Reward: +30 Points</p>

    <button onclick="completeChallenge(30)">
        Complete
    </button>

</div>





<div class="card">

    <h2>🌾 Organic Farming</h2>

    <p>Reward: +40 Points</p>

    <button onclick="completeChallenge(40)">
        Complete
    </button>

</div>





<script src="script.js"></script>


</body>

</html>